In [1]:
import numpy as np 
import pandas as pd

In [3]:
df=pd.read_csv("Heart.csv")

In [5]:
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [7]:
df.shape

(303, 15)

In [11]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [13]:
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

In [25]:
df[df==0]

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN
4,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
300,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
302,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [27]:
df["Age"].mean()

54.43894389438944

In [29]:
#Now extract only Age, Sex, ChestPain, RestBP, Chol. Randomly divide dataset in training
#(75%) and testing (25%).

In [31]:
from sklearn.model_selection import train_test_split

In [33]:
df.isin([0]).sum()

Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64

In [35]:
x = df[['ChestPain','Age','Sex','RestBP','Chol','Fbs','RestECG']]

In [37]:
x

        ChestPain  Age  Sex  RestBP  Chol  Fbs  RestECG
0         typical   63    1     145   233    1        2
1    asymptomatic   67    1     160   286    0        2
2    asymptomatic   67    1     120   229    0        2
3      nonanginal   37    1     130   250    0        0
4      nontypical   41    0     130   204    0        2
..            ...  ...  ...     ...   ...  ...      ...
298       typical   45    1     110   264    0        0
299  asymptomatic   68    1     144   193    1        0
300  asymptomatic   57    1     130   131    0        0
301    nontypical   57    0     130   236    0        2
302    nonanginal   38    1     138   175    0        0

[303 rows x 7 columns]

In [39]:
y = df[['RestBP','Chol']]

In [41]:
y

     RestBP  Chol
0       145   233
1       160   286
2       120   229
3       130   250
4       130   204
..      ...   ...
298     110   264
299     144   193
300     130   131
301     130   236
302     138   175

[303 rows x 2 columns]

In [43]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=45)

In [45]:
x_train.shape

(227, 7)

In [47]:
y_train.shape

(227, 2)

In [49]:
x_test

        ChestPain  Age  Sex  RestBP  Chol  Fbs  RestECG
104    nonanginal   49    1     120   188    0        0
100  asymptomatic   45    1     115   260    0        2
125    nontypical   45    0     130   234    0        2
69     nonanginal   46    1     150   231    0        0
83     nonanginal   68    1     180   274    1        2
..            ...  ...  ...     ...   ...  ...      ...
220    nonanginal   41    0     112   268    0        2
76   asymptomatic   60    1     125   258    0        2
258    nontypical   70    1     156   245    0        2
22     nontypical   58    1     120   284    0        2
44   asymptomatic   61    0     130   330    0        2

[76 rows x 7 columns]

In [51]:
y_test

     RestBP  Chol
104     120   188
100     115   260
125     130   234
69      150   231
83      180   274
..      ...   ...
220     112   268
76      125   258
258     156   245
22      120   284
44      130   330

[76 rows x 2 columns]

#Problem Statement : Through the diagnosis test I predicted 100
#reports as COVID positive ,
#but only 45 out of those were actually positive .
#Total 50 people in my sample were actually COVID positive .I have
#total 500 samples .
#Create confusion matrix based on above data and find
# I. Accuracy
#II. Precision
#III. Recall
#IV. F-1 Score

In [56]:
TP=45
FP=55
FN=5
TN=395

In [58]:
Accuracy=(TP+TN)/(TP+TN+FP+FN)
Precision = TP/(TP+FP)
Recall = TP/(TP+FN)
Error = 1 - Accuracy

In [62]:
print(Accuracy,
Precision,
Recall,
Error)

0.88 0.45 0.9 0.12