In [1]:
import numpy as np 
import pandas as pd

In [3]:
df=pd.read_csv("Heart.csv")

In [5]:
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [7]:
df.shape

(303, 15)

In [9]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [11]:
df.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [19]:
df[df==0].count

<bound method DataFrame.count of      Unnamed: 0  Age  Sex ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  \
0           NaN  NaN  NaN       NaN     NaN   NaN  NaN      NaN    NaN    0.0
1           NaN  NaN  NaN       NaN     NaN   NaN  0.0      NaN    NaN    NaN
2           NaN  NaN  NaN       NaN     NaN   NaN  0.0      NaN    NaN    NaN
3           NaN  NaN  NaN       NaN     NaN   NaN  0.0      0.0    NaN    0.0
4           NaN  NaN  0.0       NaN     NaN   NaN  0.0      NaN    NaN    0.0
..          ...  ...  ...       ...     ...   ...  ...      ...    ...    ...
298         NaN  NaN  NaN       NaN     NaN   NaN  0.0      0.0    NaN    0.0
299         NaN  NaN  NaN       NaN     NaN   NaN  NaN      0.0    NaN    0.0
300         NaN  NaN  NaN       NaN     NaN   NaN  0.0      0.0    NaN    NaN
301         NaN  NaN  0.0       NaN     NaN   NaN  0.0      NaN    NaN    0.0
302         NaN  NaN  NaN       NaN     NaN   NaN  0.0      0.0    NaN    0.0

     Oldpeak  Slope   Ca Thal  AHD
0        NaN    NaN  0.0  NaN  NaN
1        NaN    NaN  NaN  NaN  NaN
2        NaN    NaN  NaN  NaN  NaN
3        NaN    NaN  0.0  NaN  NaN
4        NaN    NaN  0.0  NaN  NaN
..       ...    ...  ...  ...  ...
298      NaN    NaN  0.0  NaN  NaN
299      NaN    NaN  NaN  NaN  NaN
300      NaN    NaN  NaN  NaN  NaN
301      0.0    NaN  NaN  NaN  NaN
302      0.0    NaN  NaN  NaN  NaN

[303 rows x 15 columns]>

In [21]:
df["Age"].mean()

54.43894389438944

In [23]:
df.head(2)

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes

In [27]:
x=df[["Age","Sex","ChestPain","RestBP","Chol"]]
x

     Age  Sex     ChestPain  RestBP  Chol
0     63    1       typical     145   233
1     67    1  asymptomatic     160   286
2     67    1  asymptomatic     120   229
3     37    1    nonanginal     130   250
4     41    0    nontypical     130   204
..   ...  ...           ...     ...   ...
298   45    1       typical     110   264
299   68    1  asymptomatic     144   193
300   57    1  asymptomatic     130   131
301   57    0    nontypical     130   236
302   38    1    nonanginal     138   175

[303 rows x 5 columns]

In [29]:
y=df[["Fbs","RestECG"]]

In [31]:
y

     Fbs  RestECG
0      1        2
1      0        2
2      0        2
3      0        0
4      0        2
..   ...      ...
298    0        0
299    1        0
300    0        0
301    0        2
302    0        0

[303 rows x 2 columns]

In [33]:
from sklearn.model_selection import train_test_split

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=45)

In [37]:
x_train

     Age  Sex     ChestPain  RestBP  Chol
212   41    1    nonanginal     130   214
227   67    0    nonanginal     152   277
287   58    1    nontypical     125   220
25    50    0    nonanginal     120   219
8     63    1  asymptomatic     130   254
..   ...  ...           ...     ...   ...
163   58    0  asymptomatic     100   248
213   66    0  asymptomatic     178   228
95    52    1  asymptomatic     128   255
32    64    1    nonanginal     140   335
131   51    1    nonanginal      94   227

[242 rows x 5 columns]

In [39]:
y_train

     Fbs  RestECG
212    0        2
227    0        0
287    0        0
25     0        0
8      0        2
..   ...      ...
163    0        2
213    1        0
95     0        0
32     0        0
131    0        0

[242 rows x 2 columns]

In [41]:
x_test

     Age  Sex     ChestPain  RestBP  Chol
104   49    1    nonanginal     120   188
100   45    1  asymptomatic     115   260
125   45    0    nontypical     130   234
69    46    1    nonanginal     150   231
83    68    1    nonanginal     180   274
..   ...  ...           ...     ...   ...
162   54    0    nonanginal     110   214
205   45    1  asymptomatic     142   309
122   51    1    nonanginal     100   222
99    48    1  asymptomatic     122   222
139   51    1    nonanginal     125   245

[61 rows x 5 columns]

In [43]:
y_test

     Fbs  RestECG
104    0        0
100    0        2
125    0        2
69     0        0
83     1        2
..   ...      ...
162    0        0
205    0        2
122    0        0
99     0        2
139    1        2

[61 rows x 2 columns]

In [45]:
TP=45
FP=55
TN=395
FN=5

In [47]:
accuracy=(TP+TN)/(TP+TN+FP+FN)
precision=TP/(TP+FP)
recall=TP/(TP+FN)
error=1-accuracy

In [49]:
print(accuracy)

0.88

In [51]:
print(precision)

0.45

In [53]:
print(recall)

0.9

In [55]:
print(error)

0.12